<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.lvm.isiton"
        versionCode="10" 
        version   = "1.0.0">
  <name>Is is on?</name>
  <description>
    A clever way to know if our device is on.
  </description>
  <author href="http://github.com/lvm" email="lavaramano@gmail.com">
    Mauro
  </author>
  <preference name="permissions" value="none"/>
</widget>